<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>상품 상세정보 - ShowMate</title>
    <link rel="stylesheet" th:href="@{/css/productDetail.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="product-detail-container">
        <div class="product-detail-info">
            <!-- 상품 이미지 -->
            <img th:src="@{${productDto.img}}" alt="Product Image" class="product-image"/>

            <!-- 상품 정보 -->
            <div class="product-info">
                <div class="detail-top">
                    <a th:href="'/category='+${productDto.category}">[[${productDto.category.getCategory_value()}]]</a>
                    <button id="likeButton" class="icon-button">
                        <img id="likeIcon" th:src="@{/images/heart_outline.png}" alt="Like" class="icon"/>
                    </button>
                    <button id="shareButton" class="icon-button">
                        <img th:src="@{/images/share.png}" alt="Share" class="icon"/>
                    </button>
                </div>

                <h5 style="font-weight: bold;" th:text="${productDto.name}">Product Name</h5>
                <div class="rating-container">
                    <div id="rating" class="rating" th:data-rate="${productDto.rate}"></div>
                    <span class="rating-count" th:text="${productDto.rate_count}+'개 상품평'"> (0)</span>
                </div>

                <div class="d-flex">
                    <p class="price"><strong> <span id="price" th:text="${productDto.price}">0</span>원</strong></p>
                    <button type="button" class="goto-btn"
                            th:onclick="'location.href=\'https://www.coupang.com/vp/products/\' + ' + ${productDto.id}">사러가기</button>
                </div>
                <p>역대최고가 <strong class="highest-price"><span id="highestPrice" th:text="${maxPrice}">0</span>원</strong></p>
                <p>역대최저가 <strong class="lowest-price"><span id="lowestPrice" th:text="${minPrice}">0</span>원</strong></p>

                <!-- 알림 받기 -->
                <div class="notification-container">
                    <label for="alarmPrice">지정가</label>
                    <input id="alarmPrice" type="number" placeholder="가격을 입력하세요" class="notification-input"/>
                    <button id="noticeButton" class="notification-button">알림 설정</button>
                </div>
            </div>
        </div>

        <div class="graph-container">
            <h4>가격 변동 이력</h4>
            <canvas id="priceChart" style="height:280px;"></canvas>
        </div>

        <div class="recommend-container" sec:authorize="isAuthenticated()">
            <h4>추천 상품</h4>
            <div class="product-slider">
                <button class="slider-button prev" type="button">&#10094;</button>
                <div class="product-slider-container">
                    <div class="product-slider-content">
                        <!-- JavaScript가 이 부분을 동적으로 업데이트합니다. -->
                    </div>
                </div>
                <button class="slider-button next" type="button">&#10095;</button>
            </div>
        </div>

    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            let liked = [[${isLiked}]]; // 기본값은 Controller에서 보내준 isLiked 값

            const likeButton = document.getElementById('likeButton');
            const likeIcon = document.getElementById('likeIcon');
            let isLoggedIn = [[${isLoggedIn ? 'true' : 'false'}]]; // 문자열로 변환

            // 좋아요 상태에 따라 아이콘 변경
            function updateLikeIcon(isLiked) {
                likeIcon.src = isLiked ? '/images/heart.png' : '/images/heart_outline.png';
            }
            updateLikeIcon(liked); // 아이콘 초기화

            likeButton.addEventListener('click', function() {
                if (isLoggedIn === 'true') {
                    liked = !liked; // 상태 토글
                    updateLikeIcon(liked); // 아이콘 업데이트

                    const paramData = {
                        productId: [[${productDto.id}]],
                        liked: liked
                    };

                    $.ajax({
                        url: "/like",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(paramData),
                        dataType: "json",
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: (res) => {
                            if (res.message) { // 좋아요 등록 할 때만 뜨게
                                alert(res.message);
                            }
                        },
                        error: (xhr, status, error) => {
                            console.log("Like Error: ", status, error);
                        }
                    });
                } else {
                    alert("로그인이 필요한 서비스입니다.");
                    const currentUrl = window.location.href;
                    location.href = "/user/login?redirect=" + encodeURIComponent(currentUrl);
                }
            });

            //지정가 알림 설정
            let noticed = [[${isNoticed}]]; // 기본값은 Controller에서 보내준 isNoticed 값
            // 사용자 입력 값을 올바르게 읽어와서 처리
            const noticeButton = document.getElementById('noticeButton');

            // 좋아요 상태에 따라 아이콘 변경
            function updateNotice(isNotice) {
                if (isNotice) {
                    noticeButton.classList.add('noticed');
                    noticeButton.textContent = '알림 취소';
                } else {
                    noticeButton.classList.remove('noticed');
                    noticeButton.textContent = '알림 설정';
                }
            }
            updateNotice(noticed); // notice 버튼 초기화

            noticeButton.addEventListener('click', function() {
                if (isLoggedIn === 'true') {
                    let alarmPriceValue = $("#alarmPrice").val();
                    noticed = !noticed; // 상태 토글
                    updateNotice(noticed); // 아이콘 업데이트

                    const paramData = {
                        productId: [[${productDto.id}]],
                        noticed: noticed,
                        price: alarmPriceValue,
                    };

                    $.ajax({
                        url: "/notice",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(paramData),
                        dataType: "json",
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: (res) => {
                            if (res.message) { //알림 등록/취소 성공 시 문구 alert
                                alert(res.message);
                            }
                        },
                        error: (xhr, status, error) => {
                            console.log("Like Error: ", status, error);
                        }
                    });
                } else {
                    alert("로그인이 필요한 서비스입니다.");
                    const currentUrl = window.location.href;
                    location.href = "/user/login?redirect=" + encodeURIComponent(currentUrl);
                }
            });


            // 공유하기 버튼 기능 (간단히 알림으로 처리)
            const shareButton = document.getElementById('shareButton');
            shareButton.addEventListener('click', function() {
                alert('상품 링크가 복사되었습니다!');
                var url = "https://www.coupang.com/vp/products/"+[[${productDto.id}]]
                navigator.clipboard.writeText(url);
            });

            // 숫자 포맷팅 함수
            function formatNumber(number) {
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            // 가격 포맷팅
            const priceElement = document.getElementById('price');
            const highestPriceElement = document.getElementById('highestPrice');
            const lowestPriceElement = document.getElementById('lowestPrice');

            if (priceElement) {
                priceElement.textContent = formatNumber(parseInt(priceElement.textContent.replace(/,/g, ''), 10));
            }
            if (highestPriceElement) {
                highestPriceElement.textContent = formatNumber(parseInt(highestPriceElement.textContent.replace(/,/g, ''), 10));
            }
            if (lowestPriceElement) {
                lowestPriceElement.textContent = formatNumber(parseInt(lowestPriceElement.textContent.replace(/,/g, ''), 10));
            }

            // 별점 처리
            const ratingElement = document.getElementById('rating');
            const rate = parseFloat(ratingElement.getAttribute('data-rate'));
            const fullStars = Math.floor(rate);
            const halfStar = rate % 1 !== 0;

            for (let i = 0; i < 5; i++) {
                const starElement = document.createElement('div');
                starElement.classList.add('star');

                if (i < fullStars) {
                    starElement.classList.add('full');
                } else if (i === fullStars && halfStar) {
                    starElement.classList.add('half');
                }

                ratingElement.appendChild(starElement);
            }

            // 가격 히스토리 그래프
            const priceHistories = /*[[${productDto.priceHistoryDto}]]*/ [];

            const dates = priceHistories.map(history => history.date);
            const prices = priceHistories.map(history => history.price);

            const ctx = document.getElementById('priceChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Price',
                        data: prices,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        pointRadius: 6,
                        pointHoverRadius: 8
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'YYYY-MM-DD',
                                displayFormats: {
                                    day: 'YYYY-MM-DD'
                                }
                            }
                        },
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        tooltip: {
                            mode: 'index',
                            intersect: false,
                            callbacks: {
                                label: function(tooltipItem) {
                                    return 'Price: ' + tooltipItem.formattedValue + ' 원';
                                }
                            }
                        }
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true,
                        axis: 'x'
                    }
                }
            });

            // 추천 상품 슬라이더
            const recommendList = /*[[${recommendList}]]*/ [];
            const sliderContainer = document.querySelector('.product-slider-content');

            recommendList.forEach(product => {
                const sliderItem = document.createElement('div');
                sliderItem.className = 'product-slider-item';
                sliderItem.innerHTML = `
                    <a href="/product/${product.id}">
                        <img class="slide-item-img" src="${product.img}" alt="${product.name}" />
                        <p class="slide-item-name">${product.name}</p>
                        <p>${formatNumber(product.price)}원</p>
                    </a>
                `;
                sliderContainer.appendChild(sliderItem);
            });

            // 상품명 잘라서 표시하는 함수 호출
            $(".slide-item-name").each(function() {
                var text = $(this).text();
                if (text.length > 25) { // 표시할 최대 길이 설정
                    $(this).text(text.substring(0, 25) + "⋯");
                }
            });

            let currentIndex = 0;
            const itemsPerPage = 5;
            const totalSlides = Math.ceil(recommendList.length / itemsPerPage);

            function updateSlider() {
                sliderContainer.style.transform = `translateX(-${currentIndex * 100 + 1}%)`;
            }

            window.moveSlide = function(step) {
                currentIndex = (currentIndex + step + totalSlides) % totalSlides;
                updateSlider();
            }

            document.querySelector('.prev').addEventListener('click', function() {
                moveSlide(-1);
            });

            document.querySelector('.next').addEventListener('click', function() {
                moveSlide(1);
            });

        });
    </script>
</th:block>
</body>
</html>
