<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>로그인 - ShowMate</title>
    <link rel="stylesheet" th:href="@{/css/loginForm.css}" />
    <link rel="stylesheet" th:href="@{https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css}">

</head>
<div layout:fragment="content" class="container d-flex flex-column align-items-center min-vh-100">
    <div class="login-container">
        <form action="/user/login" role="form" method="post" class="login-form">
            <div class="input-container">
                <input type="email" id="email" name="email" placeholder=" " required>
                <label for="email">이메일</label>
                <span class="clear-text" onclick="clearInput('email')">
                    <i class="fi fi-br-cross"></i>
                </span>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password" placeholder=" " required>
                <label for="password">비밀번호</label>
                <span class="password-toggle" onclick="togglePassword()">
                    <i class="fi fi-br-eye-crossed"></i>
                </span>
                <span class="clear-text" onclick="clearInput('password')">
                    <i class="fi fi-br-cross"></i>
                </span>
            </div>
            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
            <button class="btn btn-login w-100" type="submit">로그인</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="redirect" th:value="${param.redirect}" />
        </form>

        <div class="additional-links ">
            <a href="/user/find-email" class="text-decoration-none">이메일 찾기</a>
            <span class="divider">|</span>
            <a href="/user/reset-password" class="text-decoration-none">비밀번호 찾기</a>
            <span class="divider">|</span>
            <a href="/user/signup" class="text-decoration-none">회원가입</a>
        </div>

        <div class="social-login mt-3">
            <a href="/oauth2/authorization/google" class="btn btn-google">
                <img src="/images/google_icon.png" alt="Google Login"/>
            </a>
            <a href="/oauth2/authorization/kakao" class="btn btn-kakao">
                <img src="/images/kakao_icon.png" alt="Kakao Login"/>
            </a>
            <a href="/oauth2/authorization/naver" class="btn btn-naver">
                <img src="/images/naver_icon.png" alt="Naver Login"/>
            </a>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        function togglePassword() {
            const passwordInput = document.getElementById("password");
            const passwordToggle = document.querySelector(".password-toggle");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordToggle.innerHTML = `<i class="fi fi-br-eye"></i>`;
            } else {
                passwordInput.type = "password";
                passwordToggle.innerHTML = `<i class="fi fi-br-eye-crossed"></i>`;
            }
        }
        // 입력 이벤트에 따라 아이콘 표시/숨기기
        document.getElementById("password").addEventListener("input", function() {
            const passwordToggle = document.querySelector(".password-toggle");
            if (this.value) {  // 비밀번호 입력 필드에 값이 있으면
                passwordToggle.style.display = "inline"; // 아이콘을 표시
            } else {
                passwordToggle.style.display = "none"; // 아이콘을 숨김
            }
        });
        // 입력 필드 값에 따라 X 버튼 표시/숨기기
        document.querySelectorAll('.input-container input').forEach(input => {
            input.addEventListener('input', function() {
                const clearText = this.parentElement.querySelector('.clear-text');
                if (this.value) {
                    clearText.style.display = "inline"; // 값이 있으면 X 버튼 표시
                } else {
                    clearText.style.display = "none"; // 값이 없으면 X 버튼 숨김
                }
            });
        });
        // 입력 필드를 지우는 함수
        function clearInput(fieldId) {
            const inputField = document.getElementById(fieldId);
            inputField.value = '';
            inputField.dispatchEvent(new Event('input')); // input 이벤트 트리거
            inputField.focus();
        }

    </script>
</th:block>

</html>