<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <!--    토큰을 meta 태그에서 미리 받아놓음-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>회원가입 - ShowMate</title>
    <link rel="stylesheet" th:href="@{/css/signupForm.css}" />
    <link rel="stylesheet" th:href="@{https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css}">
</head>

<div layout:fragment="content" class="container d-flex flex-column align-items-center min-vh-100">
    <div class="signup-container">
        <form action="/user/signup" role="form" method="post" class="signup-form">
            <!-- 사용자 이름 -->
            <div class="input-container">
                <input type="text" id="name" name="name" placeholder=" " required>
                <label for="name">사용자 이름</label>
                <span class="clear-text" onclick="clearInput('name')">
                    <i class="fi fi-br-cross"></i>
                </span>
            </div>

            <!-- 이메일 -->
            <div class="input-container code-button">
                <input type="email" id="email" name="email" placeholder=" " required>
                <label for="email">이메일</label>
                <button class="btn" type="button" onclick="sendVerificationCode()">인증코드 발송</button>
                <span class="clear-text email-clear-text" onclick="clearInput('email')">
                    <i class="fi fi-br-cross"></i>
                </span>
            </div>

            <!-- 이메일 확인 -->
            <div class="input-container code-button">
                <input type="text" id="email-verification" name="email-verification" placeholder=" " required>
                <label for="email-verification">인증코드 확인</label>
                <button class="btn" type="button" onclick="verifyCode()">인증코드 확인</button>
                <span class="clear-text email-clear-text" onclick="clearInput('email-verification')">
                    <i class="fi fi-br-cross"></i>
                </span>
            </div>

            <!-- 비밀번호 -->
            <div class="input-container input-password">
                <input type="password" id="password" name="password" placeholder=" " required>
                <label for="password">비밀번호</label>
                <span class="password-toggle" onclick="togglePassword('password')">
                    <i class="fi fi-br-eye-crossed"></i>
                </span>
                <span class="clear-text" onclick="clearInput('password')">
                    <i class="fi fi-br-cross"></i>
                </span>
            </div>

            <!-- 비밀번호 확인 -->
            <div class="input-container input-password">
                <input type="password" id="confirm-password" name="confirm-password" placeholder=" " required>
                <label for="confirm-password">비밀번호 확인</label>
                <span class="password-toggle" onclick="togglePassword('confirm-password')">
                    <i class="fi fi-br-eye-crossed"></i>
                </span>
                <span class="clear-text" onclick="clearInput('confirm-password')">
                    <i class="fi fi-br-cross"></i>
                </span>
            </div>
            <div id="password-error" class="error-message">비밀번호와 일치하지 않습니다.</div>

            <!-- 휴대폰 번호 -->
            <div class="input-container">
                <input type="tel" id="tel" name="tel" placeholder=" " pattern="[0-9]{3}[0-9]{4}[0-9]{4}" required>
                <label for="tel">휴대폰 번호 ( '-' 제외)</label>
                <span class="clear-text" onclick="clearInput('tel')">
                    <i class="fi fi-br-cross"></i>
                </span>

            </div>

            <!-- 성별 -->
            <div class="gender-container">
                <label class="d-block">성별</label>
                <div class="gender-options">
                    <input type="radio" id="male" name="gender" value="male" required checked>
                    <label for="male">남자</label>
                    <input type="radio" id="female" name="gender" value="female" required>
                    <label for="female">여자</label>
                </div>
            </div>

            <button class="btn w-100" type="submit">회원가입</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>

        <div class="additional-links mt-3">
            <a href="/user/login" class="text-decoration-none">이미 계정이 있으신가요? 로그인</a>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        //입력 값 유무에 따라 비밀번호 토글버튼 표시/숨기기
        document.querySelectorAll('.input-password input').forEach(input => {
            input.addEventListener('input', function() {
                const pwToggle = this.parentElement.querySelector('.password-toggle');
                if (this.value) {
                    pwToggle.style.display = "inline";
                    pwToggle.style.marginRight = "10px";
                } else {
                    pwToggle.style.display = "none";
                }
            });
        });
        // 비밀번호 표시/숨기기 메소드
        function togglePassword(fieldId) {
            const passwordInput = document.getElementById(fieldId);
            const pwToggle = passwordInput.parentElement.querySelector('.password-toggle');

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                pwToggle.innerHTML = `<i class="fi fi-br-eye"></i>`;
            } else {
                passwordInput.type = "password";
                pwToggle.innerHTML = `<i class="fi fi-br-eye-crossed"></i>`;
            }
        }

        // 입력 값 유무에 따라 X 버튼 표시/숨기기
        document.querySelectorAll('.input-container input').forEach(input => {
            input.addEventListener('input', function() {
                const clearText = this.parentElement.querySelector('.clear-text');
                if (this.value) {
                    clearText.style.display = "inline";
                } else {
                    clearText.style.display = "none";
                }
            });
        });

        // 입력 필드를 지우는 함수
        function clearInput(fieldId) {
            const inputField = document.getElementById(fieldId);
            inputField.value = '';
            inputField.dispatchEvent(new Event('input'));
            inputField.focus();
        }

        // 인증코드 발송
        function sendVerificationCode() {
            alert('인증코드 전송완료');
        }

        // 인증코드 확인
        function verifyCode() {
            alert('인증코드가 확인되었습니다.');
        }

        // 비밀번호 확인
        document.getElementById('confirm-password').addEventListener('input', function() {
            const password = document.getElementById('password').value;
            const confirmPassword = this.value;
            const errorElement = document.getElementById('password-error');

            if (password !== confirmPassword) {
                errorElement.style.display = 'block';
                errorElement.style.marginTop = '-20px';
                errorElement.style.marginBottom = '10px';
            } else {
                errorElement.style.display = 'none';
            }
        });

    </script>
</th:block>

</html>
