<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Value Chaser</a>
            <ul class="navbar-nav me-auto" style="flex-direction: row">
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle nav-link category" aria-expanded="false">
                        카테고리
                    </button>
                    <ul class="dropdown-menu">
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=WOMAN_FASHION'">여성패션</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=MAN_FASHION'">남성패션</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=BEAUTY'">뷰티</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=BABY_KIDS'">출산/유아동</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=FOOD'">식품</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=KITCHEN_ITEMS'">주방용품</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=HOUSEHOLD_ITEMS'">생활용품</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=FURNITURE_INTERIOR'">가구/인테리어
                            </button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=APPLIANCE_DIGITAL'">가전/디지털</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=SPORTS_LEISURE'">스포츠/레저</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=CAR_ITEMS'">자동차용품</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=BOOK_ALBUM'">도서/음반</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=TOY_HOBBY'">완구/취미</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=STATIONARY_OFFICE'">문구/오피스</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=PET_ITEMS'">애완동물용품</button>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn" onClick="location.href='/category=HEALTH_NUTRIENTS'">헬스/건강식품
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button class="nav-link" onClick="location.href='/contact'">연락</button>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/user/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                        <span class="nav-link">
                            <span sec:authentication="name"></span>
                        </span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/user/logout">로그아웃</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/user/mypage">마이 페이지</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>