
.totalCount,
.searchResult {
    text-align: center;
}
.search-container {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px auto;
}
.custom-container {
    width: 1300px;
    margin: 0 auto;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.custom-card {
    width: 250px; /* 20%로 설정하여 한 줄에 5개의 카드가 보이도록 조정 */
    margin-bottom: 15px;
    margin-right: 10px;
}
/*5개 째 요소의 우측 여백을 없앰*/
.card-container > .custom-card:nth-child(5n) {
    margin-right: 0;
}
.custom-text {
    margin: 5px;
    font-size: 14px;
}
.page-item {
    cursor: pointer;
}