.footer {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.content {
    margin-top: 100px;
}

.navbar {
    background-color:#7048cd
}

.navbar-nav {
    display: flex;
}

.nav-item {
    position: relative;
}
.nav-link {
    padding-right: 10px;
    padding-left: 10px;
}
/* 드롭다운 버튼의 클릭 영역을 넓힘 */
.btn-group {
    position: relative;
    width: 100%;
}
.btn-group:hover {
    background-color:#b59bf2;
}

/* 드롭다운 메뉴의 항목 스타일 */
.dropdown-item {
    padding: 5px; /* 클릭 영역을 넓히기 위해 패딩을 조정 */
    font-size: 15px;
}

.dropdown-menu {
    display: none;
    height: 0;
    max-width: 110px; /* 최대 너비를 300px로 설정 */
}

/* 드롭다운 메뉴 보이기 */
.nav-item:hover .dropdown-menu {
    position: absolute;
    display: block;
    height: auto;
}

.category {
    pointer-events : none;
}