/* 체크박스 위치 조정 */
.product-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; /* 체크박스가 이미지 위에 나타나도록 설정 */
    width: 1.1rem;
    height: 1.1rem;
}

/* 버튼 스타일 조정 */
#deleteSelected {
    margin-left: 10px; /* 체크박스와 버튼 사이의 간격 설정 */
    padding: 4px 10px; /* 버튼 크기 조정 */
    font-size: 12px; /* 버튼 글자 크기 조정 */
}

/* action-bar 스타일 */
.action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.action-bar-left {
    display: flex;
    align-items: center;
}

#selectAll {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 5px; /* 체크박스와 텍스트 사이의 간격 설정 */
}
.select-all-label {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    margin-right: 10px; /* 버튼과 체크박스 사이의 간격 설정 */
}

/* 카운트 텍스트 가운데 정렬 */
.totalCount {
    text-align: center;
    flex: 1; /* 가운데 정렬을 위한 flex 속성 추가 */
    margin:0;
}