body {
    background: linear-gradient(120deg, #9b7cff 0%, #c1a4ff 50%, #e0d0ff 100%);
    min-height: 100vh;
    margin: 0;
}

.mypage-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin-top: 80px;
    text-align: center;
}

.profile-image {
    width: 100px; /* 이미지 크기 조정 */
    height: auto; /* 비율 유지 */
    border-radius: 50%; /* 원형으로 표시 */
    margin-bottom: 1.5rem; /* 이미지와 버튼 사이의 간격 설정 */
}

.user-info p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.action-buttons {
    display: flex;
    flex-direction: column; /* 버튼을 세로로 배치 */
    gap: 1rem;
}

.action-buttons a {
    flex: 1;
}

.btn-block {
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
    text-align: center;
}

.btn-primary {
    background-color: #7048cd;
    border-color: #7048cd;
}

.btn-primary:hover {
    background-color: #6c3dbb;
    border-color: #6c3dbb;
    transform: translateY(-2px);
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
    transform: translateY(-2px);
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
    color: white;
    transform: translateY(-2px);
}
