a {
    text-decoration: none;
}

.card {
    border: none;
}
.totalCount,
.searchResult {
    text-align: center;
}
.search-container {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px auto;
}
.custom-container {
    display: flex;
    width: 1100px;
    margin: 0 auto;
}

hr {
    width: 1090px; /* card-container와 같은 너비 */
    margin: 5px auto; /* 가운데 정렬 */
    border: 1px solid #9a9a9a;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1100px;
}
.custom-card {
    width: 19%; /* 19%로 설정하여 한 줄에 5개의 카드가 보이도록 조정 */
    box-sizing: border-box;
    margin: 5px;
}
.card-img-container {
    overflow: hidden;
    position: relative;
}

/* 이미지 확대 효과 */
.custom-card:hover .card-img-top {
    transform: scale(1.1); /* 이미지 확대 비율 설정 */
    transition: transform 0.2s ease; /* 확대 애니메이션 설정 */
}

/* 이미지의 기본 크기 설정 */
.card-img-top {
    width: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 크기에 맞춤 */
}
.card-title {
    font-size: 0.9rem;
}
.price {
    font-size: 0.9rem;
}

/*별점 처리*/
.rating-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center; /* 가운데 정렬 */
}

.rating {
    display: flex;
    align-items: center;
    margin-right: 4px; /* 별과 개수 사이에 간격 추가 */
}

.rating .star {
    width: 14px;
    height: 14px;
    background-image: url('/images/empty_star.png');
    background-size: cover;
    margin-right: 2px; /* 별 사이에 간격 조정 */
}

.rating .star.full {
    background-image: url('/images/full_star.png');
}

.rating .star.half {
    background-image: url('/images/half_star.png');
}
.rating-count {
    font-size: 14px;
}

/*5개 째 요소의 우측 여백을 없앰*/
.card-container > .custom-card:nth-child(5n) {
    margin-right: 0;
}
.page-item {
    cursor: pointer;
}

.recent-sidebar {
    position: fixed;
    top: 180px; /* 초기 위치 설정 */
    right: 20px; /* 페이지의 오른쪽에 고정 */
    width: 120px;
    height: 210px;
    overflow: hidden; /* 스크롤바 숨기기 */
    display: flex;
    flex-direction: column;
    z-index:1;
}

.recent-sidebar p {
    text-align: center;
    margin: 0;
    padding: 8px 0;
}
.recent-view-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 17px;
    text-align: center;
}

.recent-view-list {
    flex: 1;
    overflow: hidden; /* 내용이 넘치면 숨기기 */
}

.recent-view-items {
    height: 100%;
    overflow: hidden; /* 스크롤바 숨기기 */
    display: flex;
    flex-direction: column;
}

.recent-view-item {
    display: flex;
    justify-content: center;
}

.recent-view-item img {
    width: 90px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination-controls button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #e9ecef;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.scroll-to-top,
.scroll-to-bottom {
    border: none;
    background-color: #007bff;
    color: white;
    width: 70%;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px auto;
    font-size: 12px;
}
.scroll-to-bottom {
    top: 90%;
}
